*{
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
}
/* heager and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
}
.text-primary{
    color: orange;
}