*{
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
}
/* header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
}
.text-primary{
    color: orange;
}
.btn-primary{
    color: white;
    background-color: orange;
    height: 64px;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-image{
    width: 500px;
}
.banner-title{
    font-weight: 700px;
    font-size: 85px;
}
.banner-subtitle{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: gray;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 30px;
}
.header{
    background-color: #FFF8F3;
    width: 1920px;
    height: 800px;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style */
.about-me{
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700px;
    font-size: 35px;
}
.section-description{
    color: gray;
    font-size: 18px;
    margin-bottom: 30px;
}
/* about-info-container style */
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.about-me .info-title{
    font-size: 20px;
    color: #757575;
    margin: 0 10px;
}
.about-me .info-description{
    font-size: 20px;
    font-weight: 700px;
    color: #474747;
    margin: 0 10px;
}

/* job description style */
.job-description{
    margin-top: 130px;
}
.job-description .section-title{
    text-align: center;
    margin-bottom: 30px;
}
.section-title-description{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
    color: #757575;
    margin: 40px 100px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
    justify-content: space-around;
    
}

.resume .section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    margin: 70px 0px;
}
/* resume style */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-weight: 700px;
    font-size: 30px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.education-title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.institution{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.education-description{
    color: #757575;
}
.cv-download-btn{
    margin-top: 50px;
    text-align: center;
}
/* contract styles */
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0px;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}